// app-bar
$min-app-bar-height: 30px;
$max-app-bar-height: 60px;
$min-app-bar-caption: 20px;
$max-app-bar-caption: 40px;

// app-caption
$min-app-caption-margin: 7.5px;
$max-app-caption-margin: 15px;

// page
$min-page-caption: 13px;
$max-page-caption: 26px;
$min-page-caption-height: 20px;
$max-page-caption-height: 40px;
$min-page-padding: 7.5px;
$max-page-padding: 15px;
$min-page-content-margin: 7.5px;
$max-page-content-margin: 15px;

// app-menu
$min-app-menu-width: 150px;
$max-app-menu-width: 300px;
$min-app-menu-margin: 7.5px;
$max-app-menu-margin: 15px;
$min-menu-caption: 12px;
$max-menu-caption: 24px;
$min-menu-sub-item: 15px;
$max-menu-sub-item: 30px;
$min-menu-icon: 16px;
$max-menu-icon: 32px;

// content-tile
$min-tile-padding-margin: 7.5px;
$max-tile-padding-margin: 15px;