@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

* input{
  -webkit-user-select: auto;
  -khtml-user-select: auto;
  -moz-user-select: auto;
  -o-user-select: auto;
  user-select: auto;
}

@font-face {
  font-family: "roboto";
  src: url("../assets/fonts/roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "merriweather";
  src: url("../assets/fonts/merriweather/Merriweather-Regular.ttf");
}

@font-face {
  font-family: "merriweather-bold";
  src: url("../assets/fonts/merriweather/Merriweather-Bold.ttf");
}

.app-bar {
  background-color: blue;
}

.app-bar-caption {
  font-family: merriweather;
}

.burger-menu-button {
  background-color: darkblue;
  cursor: pointer;
}

.burger-menu-button:hover {
  background-color: cornflowerblue;
}

.app-caption {
  color: #ffffff;
}

.app-menu {
  background-color: blue;
}

.app-content {
  background-color: #FBFBFB;
}

.page-host {
  background-color: #dbdbdb;
}

.page {
  background-color: inherit;
}

.page-caption {
  color: blue;
  font-family: merriweather-bold;
}

.menu-caption {
  color: #ffffff;
  font-family: merriweather;
  cursor: pointer;
}

.menu-icon {
  cursor: pointer;
}
