@import '../../../sass/variables';
@import '../../../sass/mixins';

.page-content {
  @include interpolate((margin-top), 768px, 1920px, $min-page-content-margin, $max-page-content-margin);
  overflow-x: hidden;
  overflow-y: auto;
}

.page-caption {
  @include interpolate((font-size), 768px, 1920px, $min-page-caption, $max-page-caption);
  width: 100%;
  @include interpolate((height), 768px, 1920px, $min-page-caption-height, $max-page-caption-height);
  @include interpolate((padding-top), 768px, 1920px, $min-page-padding, $max-page-padding);
}

.page {
  width: 100%;
  height: 100%;
  @include interpolate((margin-left, margin-right), 768px, 1920px, $min-app-bar-height, $max-app-bar-height);
}